html,
body {
    height: 100%;
    background-color: #ffffff;
}

.uk-background-secondary{
    background-color: #00205B !important;
}

.white-text{
    color: white;
}

.large-text{
    font-size: 18px;
}
.uk-logo:hover{
    color: white;
    text-decoration: underline;

}

.login-form {
    width: 340px;
    margin: 50px auto;
    padding-top: 50px;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {        
    font-size: 15px;
    font-weight: bold;
}

.top {
    background-color: #0b5394 ;
    padding: 20px;
    color: #ffffff;
    font-size: 20px;
    border-color: #0b5394;
   
}

.top a {
    color: #ffffff;
    text-decoration: none;
}
#main {
    width: 100%;
    height:90%;
    min-height: 90%;
    position: relative;

}

.boxshadow {
    
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
    margin-right:20px:
  }

 .dashboard {

    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 50px;
    background: white;

  }
  
#nav {
    position: fixed;
    width: 260px;
    max-width: 260px;
    height: 80%;
    margin: 40px;
    margin-top: 90px;

  }



span {
    margin-right: 10px; 
}
.profile-pic {
    margin: 15px;
    width:60px;
}


.fullname-lbl {
    font-size: 14px;
    font-weight: bold;

}



.articles {
    padding-left: 10px;
}

h1{
    color: #0b5394;
}

h2{
    color: #0b5394;
}

h3{
    color: #0b5394;
}

h4 a{
    color: #0b5394;
}




.question {
    color: #1079d5;
    font-size: medium;
}
.article-snippet {
    position: relative;
    padding: 20px;
    width:100%;
    height: 200px;
    margin-bottom: 10px;

}

.article-info {
    font-size: 9px
}

.link {
    font-size: 13px
}

.article-title {
    font-size: 16px;
    font-weight: bold;

}

.article-summary{
    font-size: 10px;
    color: #808080;
    max-width: 200px;

}


.nav-links {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 24px;
    align-content: center;

}

.nav-links  a {
    text-decoration: none;
    color: #212529;
    

}

.nav-links .row {
    padding-bottom: 30%;
}
.selected {
    font-weight: bold;
    color: #0b5394 !important
}

.page-header {
    position: relative;
    padding: 80px 10px 10px 10px;
    width: 100%;
    margin-bottom: 15px;

}
.logout-link:hover {
    font-weight: bold;
    color: white;
}
.title-input{
    margin-bottom: 10px;
    padding: 5px;
}

.assumption{
    background-color: #E7F5F7
}
.statistics{
    background-color: #F3E1E4

}
.anecdote{
    background-color: #E2F0DC

}

.no-unit {
    background-color: #f1ebeb

}

.important{
    background-color: transparent

}
.most-important{
    background-color: rgb(248, 248, 135)

}
.title {
    font-weight: bold;
    text-transform: capitalize;
    color: #0b5394 !important
}

.no-bgd{
    background-color: transparent !important
}

#editorial {
    max-height: 650px;
    overflow: auto;
    font-size: 12px;

}

.single-summary {
    max-height: 450px;
    overflow: auto;
    font-size: 12px;

}

.top-margin {
    margin-top: 150px;
}

.justification {
    background-color: #fad1d1;
    padding: 2.5px;
}


.thesis {
    background-color: #d3f8ed;
    padding: 2.5px;
}


.no-display {
    display: none !important;
}

.annotator-profile {
    font-size: 11px;

}

.annotator-profile .code {
    font-weight: bold;

}

.strongly-agree {
    background-color:  #b7d7bb ;
}

.weakly-agree {
    background-color:  #edf7ef ;
}

.strongly-disagree {
    background-color:  #ff8080 ;

}

.weakly-disagree {
    background-color:  #ffe8e8  ;
}

.tiny {
    font-size:9px;
    color : #a6a6a6;

}

.small {
    font-size:11px;
    font-style: italic;
    color: #666666;

}

.strongly-agree-txt {
    color:  #519459 ;
}

.weakly-agree-txt {
    color:  #96cfa1 ;
}

.strongly-disagree-txt {
    color:  #ff0000 ;

}

.weakly-disagree-txt {
    color:  #ffb3b3  ;
}

.blue {
    background-color:#e7f3fd
}

.readme {
    max-height: 350px;
    overflow: auto;
}

OL { counter-reset: item }
ol>LI { display: block; margin-top: 10px; }
ol>LI:before { content: counters(item, ".") " "; counter-increment: item }

ol>li>ol {
    margin-bottom: 40px;
}

ol li li::before {
    color: #ffc440;
    font-weight: bold;
    padding-right: 15px;
}

ol li::before {
    color: #8babff;
    font-weight: bold;
    padding-right: 15px;
}

ol > li {
  display: table; /* instead of table-row */
}

ol > li::before {
  display: table-cell;
  text-align: right;
}

blockquote {
    font-size: 1;
}

.rangeslider-wrap {
  padding-top: 30px;
  padding-bottom: 40px;
}
.rangeslider {
    position: relative;
    height: 4px;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(151,206,240,1) 0%, rgba(255,200,135,1) 100%);
}
.rangeslider__handle {
    transition: background-color 0.2s;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #c9c9c9;
    border-color: #3c3c3c;
    touch-action: pan-y;
    cursor: pointer;
    border-style: solid;
    display: inline-block;
    position: absolute;
    z-index: 3;
    top: -8px;
    border-width: 1px;
}
.rangeslider__fill {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  background-color: transparent;
  border-radius: 5px;
}
.rangeslider__labels {
  position: absolute;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
.rangeslider__labels__label {
  font-size: 0.75em;
  position: relative;
  padding-top: 15px;
  color: gray;
  text-align: center;
  width: 5px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
.rangeslider__labels__label:before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 5px;
  height: 9px;
  background-color: rgba(128, 128, 128, 0.5);
  text-align: center;
}
.rangeslider__labels__label:first-child:before, .rangeslider__labels__label:last-child:before {
  height: 12px;
  width: 0px;
}
.rangeslider__labels__label:first-child:before {
  background-color: transparent;
}
.rangeslider__labels__label:last-child:before {
  background-color: gray;
}
.rangeslider__labels__label:first-child {
  transform: translateX(-50%);
  text-align: center;
}
.rangeslider__labels__label:last-child {
  transform: translateX(50%);
  text-align: center;
}
.rangeslider-div {
  padding-right: 5%;
  padding-left: 5%;
}
